<p id="notice"><%= notice %></p>

<h1>Post2s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Is available</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post2s.each do |post2| %>
      <tr>
        <td><%= post2.title %></td>
        <td><%= post2.content %></td>
        <td><%= post2.is_available %></td>
        <td><%= post2.user %></td>
        <td><%= link_to 'Show', post2 %></td>
        <td><%= link_to 'Edit', edit_post2_path(post2) %></td>
        <td><%= link_to 'Destroy', post2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post2', new_post2_path %>
