<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post2.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post2.content %>
</p>

<p>
  <strong>Is available:</strong>
  <%= @post2.is_available %>
</p>

<p>
  <strong>User:</strong>
  <%= @post2.user %>
</p>

<%= link_to 'Edit', edit_post2_path(@post2) %> |
<%= link_to 'Back', post2s_path %>
