<h1>BMI CALCULATER</h1>
<h1>
<%= form_tag '/bmi/result' do  %>

    HEIGHT我的身高: <%=text_field_tag 'body_height'  %>单位: 厘米 cm<br />

    WEIGHT我的体重: <%=text_field_tag 'body_weight'  %>单位: 千克 kg<br />

    <%=submit_tag "START 计算"%>

    <%=button_tag 'Reset', type:'reset', disabled:false%>
<h1>
<% end %>
